<section class="tabs-titles">
  {% for block in section.blocks %}
    <h1>{{ block.settings.tab_title }}</h1>
  {% endfor %}

  <section class="tabs-content"></section>
</section>

{% schema %}
{
  "name": "Carrusel Tabs",
  "class": "carrusel-tabs-container",
  "tag": "section",
  "settings": [],
  "blocks": [
    {
      "type": "carrusel-tab",
      "name": "Carrusel Tab",
      "settings": [
        {
          "type": "text",
          "id": "tab_title",
          "label": "Tab title"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Carrusel Tabs"
    }
  ]
}
{% endschema %}
